<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pairment</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700|Nunito:900" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style.css?v=20180630" rel="stylesheet"/>
  </head>
  <body>
    {{ content }}
    <footer class="mt-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Product</h3>
            <ul aria-label="Resources" class="list-unstyled">
              <li><a href="/docs/checks">Everything we test</a></li>
              <li><a href="https://pairment.com/docs">Help &amp; Documentation</a></li>
              <li><a href="https://status.pairment.com">Uptime</a></li>
              <li><a href="https://trello.com/b/QynZ1kpM/pairment-public-idea-board">Ideas &amp; Feature requests</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h3>Company</h3>
            <ul aria-label="Company" class="list-unstyled">
              <li><a href="/contact">Contact us</a></li>
              <li><a href="/policy">Terms of service</a></li>
              <li><a href="/policy#privacy">Privacy policy</a></li>
              <li><a href="/policy#open-source">Open source</a></li>
            </ul>

          </div>
          <div class="col-md-4">
            <a href="https://medium.com/pairment" class="btn btn-outline-secondary btn-pairment-blog">Pairment blog</a>
          </div>
        </div>
        pairment is &copy; <a href="mailto:kevin@pairment.com"/>Kevin Miller</a>

      </div>
    </footer>
    <script src="/scripts/jquery.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438941-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119438941-1');
    </script>

  </body>
</html>
