<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pairment docs | {{page.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700|Nunito:900" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  </head>
  <body class="docs">
    <div class="docs-wrapper">
      <div class="docs-sidebar">
        <div class="docs-sidebar-header pb-2">
          <h1 class="brand"><a href="/docs">pair<span class="ment">ment</span></a></h1>
          <small class="ml-1"><a class="btn btn-sm btn-light" href="/">Return to pairment.com</a></small>
        </div>
        <div class="docs-sidebar-body">
          <ul>
            <li><a href="/docs/billing">Billing</a></li>
            <li><a href="/docs/privacy">Information Privacy</a></li>
            <li><a href="/docs/cms">CMS Integrations</a></li>
            <li>
              <strong>Customizing Pairment</strong>
              <ul>
              <li><a href="/docs/customize/areas">Content areas</a></li>
              <li><a href="/docs/customize/tab">Style of accessibility tab</a></li>
              </ul>
            </li>
            <li>
              <strong><a href="/docs/checks">Accessibility tests</a></strong>
              <ul>
                <li><a href="/docs/checks/imgHasAlt">Images must have alternative text</a></li>
                <li><a href="/docs/checks/aMustContainText">Links should be readable</a></li>
                <li><a href="/docs/checks/aAdjacentWithSameResourceShouldBeCombined">Links to the same place should be combined</a></li>
                <li><a href="/docs/checks/aLinksAreSeparatedByPrintableCharacters">Lists of links should be seperated by printable characters</a></li>
                <li><a href="/docs/checks/blockquoteUseForQuotations">Use blockquotes for large quotes</a></li>
                <li><a href="/docs/checks/tableDataShouldHaveTh">Data tables should contain headers</a></li>
                <li><a href="/docs/checks/headerH2">Headers following a h2 shoud be a h1 or h3</a></li>
                <li><a href="/docs/checks/idsUnique">All HTML IDs should be unique</a></li>
                <li><a href="/docs/checks/boldIsNotUsed">Do not use the "b" (bold) tag</a></li>
                <li><a href="/docs/checks/headerH3">Headers following a h3 should be a h1, h2, or h4</a></li>
                <li><a href="/docs/checks/documentAcronymsHaveElement">Give definitions for all abbreviations</a></li>
                <li><a href="/docs/checks/headersHaveText">Headers should contain text</a></li>
                <li><a href="/docs/checks/formLabels">Form elements need labels</a></li>
                <li><a href="/docs/checks/aLinkTextDoesNotBeginWithRedundantWord">Link text should not begin with redundant text</a></li>
                <li><a href="/docs/checks/imgAltTextNotRedundant">Images should have unique alt text</a></li>
                <li><a href="/docs/checks/imgAltNotPlaceHolder">Image alternative text should be descriptive</a></li>
                <li><a href="/docs/checks/iFrameHasTitle">Iframes must have a title</a></li>
                <li><a href="/docs/checks/imgAltIsTooShort">Image alternative text is not too short</a></li>
                <li><a href="/docs/checks/tableNotUsedForLayout">Do not use tables for layout</a></li>
                <li><a href="/docs/checks/aSuspiciousLinkText">Link text should be useful</a></li>
                <li><a href="/docs/checks/aImgAltNotRepetitive">Don't repeat link text in an alternative text</a></li>
                <li><a href="/docs/checks/aLinksDontOpenNewWindow">Links do not open a new window without warning</a></li>
                <li><a href="/docs/checks/imgAltIsTooLong">Image alternative text is not too long</a></li>
                <li><a href="/docs/checks/documentVisualListsAreMarkedUp">Define lists appropriately</a></li>
                <li><a href="/docs/checks/fontIsNotUsed">Font tags should not be used</a></li>
                <li><a href="/docs/checks/formLabelIsReadable">Form labels must be readable</a></li>
                <li><a href="/docs/checks/imgAltIsDifferent">Alternative text should not be the filename</a></li>
                <li><a href="/docs/checks/cssTextHasContrast">Text should have appropriate contrast</a></li>
                <li><a href="/docs/checks/headerH1">Headers following a h1 should be a h2</a></li>
                <li><a href="/docs/checks/formLabelsAreUnique">Form labels should be unique</a></li>
                <li><a href="/docs/checks/paragraphIsWrittenClearly">Write text clearly</a></li>
                <li><a href="/docs/checks/videoNeedCaptions">Videos need closed captions</a></li>
                <li><a href="/docs/checks/linksAreDistinguishable">Links should contrast with surrounding text</a></li>
                <li><a href="/docs/checks/headerH4">Headers following a h4 should not be a h6</a></li>
                <li><a href="/docs/checks/iIsNotUsed">Do not use the "i" (italic) tag</a></li>
                <li><a href="/docs/checks/svgContainsTitle">SVG images should have titles</a></li>
                <li><a href="/docs/checks/headerFormat">Headers should not be used for formatting</a></li>
                <li><a href="/docs/checks/pNotUsedAsHeader">Paragraphs should not replace headers</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="docs-content pt-3">
        <div class="container">
          <div class="docs-header mb-5">
            <h1>{{page.title}}</h1>
          </div>
          {{ content }}
        </div>
      </div>
    </div>
    <script src="/scripts/jquery.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119438941-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119438941-1');
    </script>
    <script>
      $(() => {
        hljs.initHighlightingOnLoad();
      });
    </script>
    {{page.extra}}
  </body>
</html>
